.issues {
  display: flex;
  flex-direction: column;
  gap: 10px;
  button {
    all: unset;
    border: 1px solid #d8bf8a;
    border-radius: 20px;
    padding: 20px;

    line-height: 20px;
    text-align: left;
    overflow: hidden;
    word-break: break-all;
    width: calc(100vw - 40px * 2);
    overflow-x: auto;
    img {
      width: 100%;
    }
    a {
      color: #d8bf8a;
      text-decoration: none;
    }
  }
}
