@import url("../reset/reset.css");

form input[type="number"] {
  width: 167px;
}

.container {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.users-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-button {
  display: flex;
  gap: 20px;
  height: 30px;
}

.form-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: body 1.5s ease;
  animation-direction: normal;
  margin-bottom: 50px;
}

.buttons-with-users {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

@keyframes body {
  0% {
    margin-left: -100px;
  }

  100% {
    margin-left: 0px;
  }
}

@media (max-width: 1440px) {
  .user-profile {
    max-width: calc(100vw - 100px * 2);
  }
}
