.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.repositories {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.repos-data {
  all: unset;
  display: flex;;
  flex-direction: column;;
  
}
