@import url("../../reset/reset.scss");

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.repositories {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.repos-data {
  all: unset;
  display: flex;
  flex-direction: column;
}

.repo-paragraph {
  text-shadow: 0 0 15px #817355;
  border: 1px solid #776c54;
  border-radius: 20px;
  padding: 10px 10px;
}
